main
  background $background-color
  flex 2
  hypens auto
  overflow-x hidden
  padding 20px
  text-align left
  word-break normal
  word-wrap break-word
  a.article
    color $body-color
    &:last-of-type
      article
        border none
        &:after
          background none
          border none
          box-shadow none
          padding-bottom 20px
    &:hover h2
      transition color .3s ease
      color $body-link-hover-color
  .post-meta
    color #a4a4a4
    display inline-block
    margin 0
    font-size 0.6em
  article.item
    border-bottom 1px solid hsla(0, 0, 0, .15)
    color $body-color
    h2
      break-word normal
      color $body-color
      margin-bottom 16px
      word-wrap break-word
    h2
      font-size 2.3em
      letter-spacing -1px
      line-height 1.2em
      text-indent -2px
    p.post-excerpt
      font-size 1em
      margin 16px 0 0 0
    &:after
      display block
      content ''
      width 7px
      height 7px
      border darken($background-color, 12%) 1px solid
      position relative
      top 5px
      left 50%
      margin-left -5px
      background darken($background-color, 15%)
      border-radius 100%
      box-shadow $background-color 0 0 0 5px
  div.pagination
    margin-top 20px
    > *
      margin 0 5px
    a
      color lighten($body-link-hover-color, 45%)
    a:hover
      transition color .3s ease
      color $body-link-hover-color
  .article-toc
    box-sizing border-box
    max-width 100%
    float right
    border-radius 15px
    border 1px solid #d3d3d3
    padding 2rem
    margin-left 20px
    display none
    ol
      list-style none
      list-style-position inside
      padding 0
      padding-left 15px
  footer
    &:before
      clear both
    border-radius 15px
    margin-top 20px
    text-align center
    position relative
    padding 4rem 0
    border 1px solid #d3d3d3
    font-size 1em
    line-height 2.1em
    color #8a8a8a
    background #ececec
    a
      color lighten($body-color, 20%)
      font-weight 700
    .copyright
      color #737373
      font-weight 500
    .intro
      font-size 0.7em

@media (min-width 720px)
  body
    main
      flex 2
      padding 40px
      article.item
        padding 40px
        &:after
          top 45px
      .article-toc
        display block
