$body-color = #222222
$header-line-color = #35101A
$title-color = #CA314D
$description-color = #FDF2E4
$header-li-color = #CA314D
$body-link-hover-color = #CA314D
$link-article-color = #CA314D

$background-color = #f7f6f5

$cu-font-family = -apple-system, "Helvetica Neue", Arial, "PingFang SC", "lucida grande", "lucida sans unicode", lucida, helvetica, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif

@font-face
  font-family 'xnews-icon'  /* project id 210347 */
  src url('//at.alicdn.com/t/font_1g2ko97p796yldi.eot')
  src url('//at.alicdn.com/t/font_1g2ko97p796yldi.eot?#iefix') format('embedded-opentype'), url('//at.alicdn.com/t/font_1g2ko97p796yldi.woff') format('woff'), url('//at.alicdn.com/t/font_1g2ko97p796yldi.ttf') format('truetype'), url('//at.alicdn.com/t/font_1g2ko97p796yldi.svg#iconfont') format('svg');
