script(src='//cdn.bootcss.com/Han/3.3.0/han.min.js')
script(src='//cdn.bootcss.com/jquery/3.1.1/jquery.min.js')
script(src='//cdn.bootcss.com/jquery-backstretch/2.0.4/jquery.backstretch.min.js')
script(src= config.root + 'scripts/highlight.pack.js')
script.
    $(function() {
        $("header").backstretch("/images/header.jpeg");

        $("figure.highlight").each(function(i, block) {
            $(block).removeClass("highlight");
            $("<pre><code class='__tobehl " + ($(block).attr("class") === "plain" ? "" : ("lang-" + $(block).attr("class"))) + "'></code></pre>").insertAfter($(block));
            $(block).next().find("code").text((block.innerText || block.textContent));
            $(block).remove();
        });
        $(".__tobehl").each(function(i, block) {
            hljs.highlightBlock(block);
        });

        $("article.full img").each(function() {
            $(this).parent().css("text-align", "center");
        });

        if($(".article-toc").children().length < 2) {
            $(".article-toc").css("display", "none");
        }
    });
