doctype html
html(lang= theme["han_type"]).han-init
  head
    include _head.pug
    include _mixins.pug
  body
    header
      include _header.pug
      div.space
    main
      include _content.pug
    include _scripts.pug