header {
  flex: 1;
  overflow: hidden;
  position: relative;
  text-align: center;
}
header a,
header h1,
header p,
header nav {
  position: relative;
  z-index: 2;
}
header img.logo {
  width: 72px;
  height: 72px;
  border-radius: 50%;
}
header a {
  color: $header-line-color;
}
header h1 {
  font-size: 3.5em;
  margin-top: 20px;
  line-height: 1em;
  letter-spacing: -1px;
  text-shadow: 0 1px 6px rgba(0,0,0,0.5);
}
header h1 a {
  color: $title-color;
}
header p {
  color: $description-color;
  letter-spacing: 0;
  margin: 0;
  text-shadow: 0 1px 3px rgba(0,0,0,0.35);
  font-size: 2em;
}
header nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
header nav ul li {
  color: $header-line-color;
  display: inline-block;
  padding: 12px 0 12px 12px;
  font-size: 1.3em;
}
header nav ul li:after {
  content: '.';
  padding-left: 12px;
}
header nav ul li:last-child:after {
  content: '';
}
header nav ul li a {
  color: $header-li-color;
}
header nav ul li a:hover {
  text-decoration: underline;
}
header nav .xnews-icon {
  margin-top: 10px;
  font-family: xnews-icon;
  font-size: 1.5em;
}
header nav .xnews-icon a {
  margin: 4px;
  color: #444;
}
header nav .xnews-icon a:hover {
  color: $title-color;
  transition: color 0.3s ease;
}
header .space {
  animation: slide 8s linear infinite;
  background-image: url("../images/stars.svg");
  background-position: center center;
  background-size: 240px;
  height: 400%;
  left: 0;
  position: absolute;
  top: 0;
  width: 400%;
  z-index: 1;
}
@media (min-width: 720px) {
  body header {
    flex: 1;
    overflow: hidden;
    text-align: right;
    padding: 40px;
  }
  body nav ul {
    padding-top: 24px;
  }
  body nav ul li {
    display: block;
    line-height: 1.6em;
    padding: 0;
  }
  body nav ul li:after {
    content: '';
    padding: 0;
  }
}
@-moz-keyframes slide {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-240px, -240px, 0);
  }
}
@-webkit-keyframes slide {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-240px, -240px, 0);
  }
}
@-o-keyframes slide {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-240px, -240px, 0);
  }
}
@keyframes slide {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-240px, -240px, 0);
  }
}
